<h1 class="password__title">Check your password complexity</h1>
<div class="password">
  <input
    type="text"
    placeholder="Create your password"
    class="password__input"
    [value]="password"
    (keyup)="searchValueChange($event)"
  />
  <div class="rectangle-wrap">
    <div
      class="password__rectangle"
      [ngClass]="{
        password__rectangle: isEmpty,
        password__rectangle__red: initialState,
        password__rectangle__easy: isEasy,
        password__rectangle__yellow: isMedium,
        password__rectangle__green: isStrong,
        password__rectangle__warning: notAllowedSymbols
      }"
    ></div>
    <div
      class="password__rectangle"
      [ngClass]="{
        'password__rectangle': isEmpty,
        'password__rectangle__red': initialState,
        'password__rectangle__yellow': isMedium,
        'password__rectangle__easy-grey': isEasy,
        password__rectangle__green: isStrong,
        password__rectangle__warning: notAllowedSymbols
      }"
    ></div>
    <div
      class="password__rectangle"
      [ngClass]="{
        'password__rectangle': isEmpty,
        'password__rectangle__red': initialState,
        'password__rectangle__easy-grey': isEasy,
        'password__rectangle__grey': isMedium,
        password__rectangle__green: isStrong,
        password__rectangle__warning: notAllowedSymbols
      }"
    ></div>
  </div>
</div>

<p *ngIf="isEmpty" class='warning-grey'>Create your password, min length is 8 characters</p>
<p *ngIf="initialState" class='warning'>Your password has less than 8 characters</p>
<p *ngIf="isEasy" class='warning'>Your password is weak</p>
<p *ngIf="isMedium" class='warning-yellow'>Your password is medium</p>
<p *ngIf="isStrong" class='warning-green'>Your password is strong</p>
<p *ngIf="warning" class='warning'>Brackets and quotes are not allowed!</p>

<!-- <p>password{{ password }}</p>
<p>is pass empty {{ isEmpty }}</p>
<p>IS pass easy {{ isEasy }}</p>
<p>Is pass medium{{ isMedium }}</p>
<p>Is pass strong {{ isStrong }}</p>
<p>pass length {{ password.length }}</p>
<p>is Length {{ isLength }}</p>
<p>initialstate {{ initialState }}</p>
<p>not allowed {{notAllowedSymbols}}</p> -->
